*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    width: 100vw;
    min-height: 100vh;

}
.content-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}